/*
Synadia Control Plane

API for Synadia Control Plane Server

API version: beta
*/

// Code generated by OpenAPI Generator (https://openapi-generator.tech); DO NOT EDIT.

package syncp

import (
	"bytes"
	"context"
	"io"
	"net/http"
	"net/url"
	"strings"
)

type IssuanceAPI interface {

	/*
		GetNatsUserIssuance Get nats user issuance

		Get a history of all downloads and imports of the given issuance

		@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
		@param issuanceId
		@return ApiGetNatsUserIssuanceRequest
	*/
	GetNatsUserIssuance(ctx context.Context, issuanceId string) ApiGetNatsUserIssuanceRequest

	// GetNatsUserIssuanceExecute executes the request
	//  @return NatsUserIssuanceViewResponse
	GetNatsUserIssuanceExecute(r ApiGetNatsUserIssuanceRequest) (*NatsUserIssuanceViewResponse, *http.Response, error)
}

// IssuanceAPIService IssuanceAPI service
type IssuanceAPIService service

type ApiGetNatsUserIssuanceRequest struct {
	ctx        context.Context
	ApiService IssuanceAPI
	issuanceId string
}

func (r ApiGetNatsUserIssuanceRequest) Execute() (*NatsUserIssuanceViewResponse, *http.Response, error) {
	return r.ApiService.GetNatsUserIssuanceExecute(r)
}

/*
GetNatsUserIssuance Get nats user issuance

Get a history of all downloads and imports of the given issuance

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@param issuanceId
	@return ApiGetNatsUserIssuanceRequest
*/
func (a *IssuanceAPIService) GetNatsUserIssuance(ctx context.Context, issuanceId string) ApiGetNatsUserIssuanceRequest {
	return ApiGetNatsUserIssuanceRequest{
		ApiService: a,
		ctx:        ctx,
		issuanceId: issuanceId,
	}
}

// Execute executes the request
//
//	@return NatsUserIssuanceViewResponse
func (a *IssuanceAPIService) GetNatsUserIssuanceExecute(r ApiGetNatsUserIssuanceRequest) (*NatsUserIssuanceViewResponse, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodGet
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *NatsUserIssuanceViewResponse
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "IssuanceAPIService.GetNatsUserIssuance")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/nats-user-issuances/{issuanceId}"
	localVarPath = strings.Replace(localVarPath, "{"+"issuanceId"+"}", url.PathEscape(parameterValueToString(r.issuanceId, "issuanceId")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			code:  localVarHTTPResponse.StatusCode,
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			code:  localVarHTTPResponse.StatusCode,
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}
